#navlist li{
    list-style: none;
    float: right;
    margin: 3px 10px;
    
    
}
#navlist a {
    color: white !important;
}


#navlist{
    margin-top: 10px;
}
#navlist ul{
    margin-left: auto;
}

#textContent{
    align-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 100px;
}
#textContent h1{
    
    font-size: 60px;
}
hr{
    width: 60px;
    border: solid;
    color: white;
    border-radius: 10px;
}
p{
    color: white;
}

/* #find{
    border-radius: 150px;
    width: 140px;
    height: 40px;
    background-color: white;
    border: none;
} */


#navlist a{
    color: rgb(18, 18, 19);
}

#navlist a:hover{
    color: blue !important ;
}

header.fondo{
    /* width: -webkit-fill-available;
    height: -webkit-fill-available; */
    background:url("../img/portfolio/04-full.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* height: 450px; */
}

#textAbout{
    margin-top: 70px;
}
#textAbout p{
    color: black;
}

#findAbout{
    background-color: grey;
    color: white;
    border:none;
    border-radius: 150px;
    width: 140px;
    height: 40px;
}
 
