@media (max-width: 575.98px) { 
    #navlist{
        display: none;
    }

}

/* @media (min-width: 992px){
    header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
}
} */